magdamock/src/test/resources/simulator_xsd/SocZek/SocZekGemeenschappelijk-v3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://magda.vlaanderen.be/soczek-v3" xmlns:generiek="http://magda.vlaanderen.be/generiek-v3" xmlns:sleutel="http://sleutel-02_00.vip.vlaanderen.be" targetNamespace="http://magda.vlaanderen.be/soczek-v3" elementFormDefault="unqualified" attributeFormDefault="unqualified">
   <xs:import namespace="http://magda.vlaanderen.be/generiek-v3" schemaLocation="../Generiek/GeneriekDomein-v3.xsd" />
   <xs:import namespace="http://sleutel-02_00.vip.vlaanderen.be" schemaLocation="../Sleutel-02.00/Sleutel.xsd" />
   <!-- => ENKELVOUDIGE TYPE DEFINITES -->
   <xs:simpleType name="BedragType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[0-9]{1,8}" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="StatusDossierCodeType">
      <xs:annotation>
         <xs:documentation>Code van de status van het dossier.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:length value="1" />
         <xs:pattern value="[1,2,3]{1}" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="EenheidsnummerType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[2-8]\d{9}" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="TypeUitkeringEnumType">
      <xs:annotation>
         <xs:documentation>1 | 2. Aanduiding van het type activeringsuitkering waarvoor de gegevens worden opgevraagd</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="1" />
         <xs:enumeration value="2" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="AantalUitkeringenType">
      <xs:restriction base="xs:decimal">
         <xs:minInclusive value="0" />
         <xs:maxInclusive value="99.99" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="CodeAardWerkloosheidRVAType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[0-9]{1,2}" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="UitkeringsRegimeType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[0-9]{1,2}" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="WerkurenType">
      <xs:restriction base="xs:unsignedInt">
         <xs:minInclusive value="0" />
         <xs:maxInclusive value="9999" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="VersieType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[0-9]{1,2}" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="AttestMaandType">
      <xs:restriction base="xs:int">
         <xs:minInclusive value="190001" />
         <xs:maxInclusive value="219912" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="CategorieType">
      <xs:restriction base="xs:string">
         <xs:minLength value="1" />
         <xs:maxLength value="4" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="AttestPrefixReturncodeType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[0-9]{4}" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="AttestPrefixTypeInstellingType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[0-9]{3}" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="AttestPrefixVersiePrefixType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[a-zA-Z]." />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="AttestPrefixSectorType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[0-9]{3}" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="AttestPrefixReferteType">
      <xs:restriction base="xs:string">
         <xs:minLength value="1" />
         <xs:maxLength value="15" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="AttestPrefixUserIdType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[0-9]{11}" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="AttestPrefixTypeBerichtType">
      <xs:restriction base="xs:string">
         <xs:minLength value="1" />
         <xs:maxLength value="3" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="AttestPrefixReturncodeKSZType">
      <xs:restriction base="xs:string">
         <xs:minLength value="1" />
         <xs:maxLength value="6" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="AttestPrefixCodeType">
      <xs:restriction base="xs:string">
         <xs:minLength value="1" />
         <xs:maxLength value="4" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="AttestPrefixVarianteType">
      <xs:restriction base="xs:string">
         <xs:minLength value="1" />
         <xs:maxLength value="4" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="AttestPrefixBerichtGedeelteType">
      <xs:restriction base="xs:string">
         <xs:minLength value="1" />
         <xs:maxLength value="5" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="AttestPrefixSlagenStroomType">
      <xs:restriction base="xs:string">
         <xs:minLength value="1" />
         <xs:maxLength value="1" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="AttestPrefixHoedanigheidscodeType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[0-9]{3}" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="AttestPrefixFaseType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[0-9]{2}" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="AttestPrefixInstellingType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[0-9]{3}" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="AttestnummerType">
      <xs:restriction base="xs:string">
         <xs:minLength value="1" />
         <xs:maxLength value="15" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DossiernummerType">
      <xs:restriction base="xs:long">
         <xs:maxInclusive value="999999999999999" />
         <xs:minInclusive value="0" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="BetalingPercentageType">
      <xs:restriction base="xs:decimal">
         <xs:fractionDigits value="2" />
         <xs:totalDigits value="5" />
         <xs:maxInclusive value="999" />
      </xs:restriction>
   </xs:simpleType>
   <!-- => SAMENGESTELDE TYPE DEFINITES -->
   <xs:complexType name="StatusDossierType">
      <xs:annotation>
         <xs:documentation>Geeft de status vna het dossier weer.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="generiek:AbstractCodeOmschrijvingType">
            <xs:sequence>
               <xs:element name="Code" type="StatusDossierCodeType" />
               <xs:element name="Omschrijving" type="StatusDossierOmschrijvingType" minOccurs="0" />
            </xs:sequence>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="StatusDossierOmschrijvingType">
      <xs:annotation>
         <xs:documentation>Omschrijving van de status van het dossier.</xs:documentation>
      </xs:annotation>
      <xs:simpleContent>
         <xs:restriction base="generiek:AbstractOmschrijvingType">
            <xs:minLength value="1" />
            <xs:maxLength value="4000" />
         </xs:restriction>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="AttestPrefixType">
      <xs:sequence>
         <xs:element name="Netwerk" type="AttestPrefixNetwerkType" />
         <xs:element name="Formulier" type="AttestPrefixFormulierType" />
         <xs:element name="BeheerAntwoord" type="AttestPrefixBeheerAntwoordType" minOccurs="0" />
         <xs:element name="Repertorium" type="AttestPrefixRepertoriumType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="AttestPrefixNetwerkType">
      <xs:sequence>
         <xs:element name="Returncode" type="AttestPrefixReturncodeType" />
         <xs:element name="VersiePrefix" type="AttestPrefixVersiePrefixType" />
         <xs:element name="Sector" type="AttestPrefixSectorType" />
         <xs:element name="TypeInstelling" type="AttestPrefixTypeInstellingType" />
         <xs:element name="InterneReferentieSector" type="AttestPrefixReferteType" />
         <xs:element name="UserId" type="AttestPrefixUserIdType" />
         <xs:element name="TypeAntwoord" type="AttestPrefixTypeBerichtType" />
         <xs:element name="INSZ" type="sleutel:INSZType" minOccurs="0" />
         <xs:element name="ReturncodeKSZ" type="AttestPrefixReturncodeKSZType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="AttestPrefixFormulierType">
      <xs:sequence>
         <xs:element name="Code" type="AttestPrefixCodeType" />
         <xs:element name="Variante" type="AttestPrefixVarianteType" minOccurs="0" />
         <xs:element name="Berichtgedeelte" type="AttestPrefixBerichtGedeelteType" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="AttestPrefixBeheerAntwoordType">
      <xs:sequence>
         <xs:element name="InterneReferentieBeantwoorder" type="AttestPrefixReferteType" minOccurs="0" />
         <xs:element name="TijdstipVersturenAanvraag" type="generiek:GestructureerdTijdstipType" minOccurs="0" />
         <xs:element name="TijdstipVersturenAntwoord" type="generiek:GestructureerdTijdstipType" minOccurs="0" />
         <xs:element name="SlagenStroom" type="AttestPrefixSlagenStroomType" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="AttestPrefixRepertoriumType">
      <xs:sequence>
         <xs:element name="Hoedanigheidscode" type="AttestPrefixHoedanigheidscodeType" />
         <xs:element name="Fase" type="AttestPrefixFaseType" minOccurs="0" />
         <xs:element name="PeriodeRepertorium" type="generiek:PeriodeDatumBeginVerplichtType" minOccurs="0" />
         <xs:element name="PeriodeBericht" type="generiek:PeriodeDatumBeginVerplichtType" minOccurs="0" />
         <xs:element name="SectorLeverancier" type="AttestPrefixSectorType" minOccurs="0" />
         <xs:element name="InstellingLeverancier" type="AttestPrefixInstellingType" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="WerkgeverType">
      <xs:sequence>
         <xs:element name="Ondernemingsnummer" type="sleutel:OndernemingsnummerType" minOccurs="0" />
         <xs:element name="RSZNummer" type="sleutel:RSZNummerType" minOccurs="0" />
         <xs:element name="Categorie" type="CategorieType" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="AttestBasisType">
      <xs:sequence>
         <xs:element name="Nummer" type="AttestnummerType" />
         <xs:element name="Status" type="generiek:CodeOmschrijvingType" />
      </xs:sequence>
      <xs:attribute name="DatumCreatie" type="generiek:DatumType" use="required" />
   </xs:complexType>
</xs:schema>