magdamock/src/test/resources/simulator_xsd/Bewijs/BewijsSimple.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
  #%L
  VIPInterfaces-generiek
  %%
  Copyright (C) 2016 - 2018 Vlaamse Overheid
  %%
  Licensed under the EUPL, Version 1.1 or – as soon they will be
  approved by the European Commission - subsequent versions of the
  EUPL (the "Licence");
  
  You may not use this work except in compliance with the Licence.
  You may obtain a copy of the Licence at:
  
  http://ec.europa.eu/idabc/eupl5
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the Licence is distributed on an "AS IS" basis,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the Licence for the specific language governing permissions and
  limitations under the Licence.
  #L%
  -->

<xs:schema xmlns="http://bewijs.led.vlaanderen.be"
	xmlns:generiek="http://generiek-02_00.vip.vlaanderen.be"
	attributeFormDefault="unqualified" elementFormDefault="unqualified"
	targetNamespace="http://bewijs.led.vlaanderen.be" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="2.00"> 
	
	<xs:import namespace="http://generiek-02_00.vip.vlaanderen.be" schemaLocation="../Generiek-02.00/Generiek.xsd" />

	<xs:simpleType name="BewijsreferteLedType">
		<xs:annotation>
			<xs:documentation>
				Bewijsreferte toegekend door LED aan een Bewijs.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="generiek:ReferteType">
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="BewijsmutatiereferteLedType">
		<xs:annotation>
			<xs:documentation>
				Mutatiereferte toegekend door LED aan een Bewijs.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="generiek:ReferteType">
		</xs:restriction>
	</xs:simpleType>	
	
	<xs:simpleType name="AuthenticiteitNaamType">
		<xs:annotation>
			<xs:documentation>
				Authenticiteit
        	</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="255" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="CategorieNaamType">
		<xs:annotation>
			<xs:documentation>
				Naam van een dimensie om het Bewijs te categoriseren.				
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="255" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="GraadNaamType">
		<xs:annotation>
			<xs:documentation>
				Naam van een dimensie om het Bewijs te categoriseren.				
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="255" />
		</xs:restriction>
	</xs:simpleType>


	<xs:simpleType name="OnderwijsvormNaamType">
		<xs:annotation>
			<xs:documentation>
				Naam van een dimensie om het Bewijs te categoriseren.				
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="255" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="BewijstypeNaamType">
		<xs:annotation>
			<xs:documentation>
				Naam van een dimensie om het Bewijs te categoriseren.				
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="255" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InstantieNaamType">
		<xs:annotation>
			<xs:documentation>
				Naam van een dimensie om het Bewijs te categoriseren.				
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="255" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="OnderwerpCodeType">
		<xs:annotation>
			<xs:documentation> 
				Code van het Onderwerp.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="255" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="OnderwerpNaamType">
		<xs:annotation>
			<xs:documentation>
				Naam van een dimensie om het Bewijs te categoriseren.				
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="255" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="BewijsstaatNaamType">
		<xs:annotation>
			<xs:documentation>
				Naam van een dimensie om het Bewijs te categoriseren.				
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="255" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="SchooltypeNaamType">
		<xs:annotation>
			<xs:documentation>
				Naam van een dimensie om het Bewijs te categoriseren.				
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="255" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="LandCodeType">
		<xs:annotation>
			<xs:documentation>
				De ISO 3166-1 alpha 3 Landcode in UPPERCASE, van het land waar het bewijs werd uitgereikt: UPPERCASE verplicht, of
				de pseudowaarden "Niet van toepassing", "Niet beschikbaar".
				Toegelaten waarden: zie LED Taxonomie gepubliceerd door Kwaliteitsagentschap Onderwijs en Vorming.								
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3" />
			<xs:maxLength value="255" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="TaalCodeType">
		<xs:annotation>
			<xs:documentation>
				De ISO 639-3 alpha 3 code van de taal waarin het bewijs onderricht werd in UPPERCASE, of
				de pseudowaarden "Niet van toepassing", "Niet beschikbaar".
				Toegelaten waarden: zie LED Taxonomie gepubliceerd door Kwaliteitsagentschap Onderwijs en Vorming.				
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3" />
			<xs:maxLength value="255" />
		</xs:restriction>
	</xs:simpleType>		
	
	<xs:simpleType name="InstantierolNaamType">
		<xs:annotation>
			<xs:documentation>
				Naam van een Rol die een Instantie speelt m.b.t. een Bewijs.				
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="255" />
		</xs:restriction>
	</xs:simpleType>	
	
	<xs:simpleType name="BijkomendeInformatieNaamType">
		<xs:annotation>
			<xs:documentation>
				Naam van de soort bijkomende informatieinhoud die bij een Bewijs kan geleverd worden.
				Typeert het BijkomendeInformatieInhoudType.	
				Toegelaten waarden: zie LED Taxonomie gepubliceerd door Kwaliteitsagentschap Onderwijs en Vorming.							
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="255" />
		</xs:restriction>
	</xs:simpleType>	
		
	<xs:simpleType name="BijkomendeInformatieInhoudType">
		<xs:annotation>
			<xs:documentation>
				De eigenlijke bijkomende informatie die bij een Bewijs kan geleverd worden.	
				Wordt getypeerd door het BijkomendeInformatieNaamType.										
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="1000" />
		</xs:restriction>
	</xs:simpleType>		
	
	<xs:simpleType name="ISCEDStudiegebiedCodeType">
		<xs:annotation>
			<xs:documentation>
				Code van een ISCED Studiegebied.
				Niet van toepassing en Niet beschikbaar worden doorgegeven d.m.v. een ISCED Studiegebied code (zie de ISCED standaard).
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="255" />
		</xs:restriction>
	</xs:simpleType>
		 
	<xs:simpleType name="ISCEDStudiegebiedNaamType">
		<xs:annotation>
			<xs:documentation>
				Naam van een ISCED Studiegebied.
				NaamLangType van Creon en VIP NIET overgenomen, want kan volgens mij langer zijn dan de daar voorziene 48 karakters.				
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="500" />
		</xs:restriction>
	</xs:simpleType>	
	
	<xs:simpleType name="ISCEDNiveauCodeType">
		<xs:annotation>
			<xs:documentation>
				Code van een ISCEDNiveau: max. 5 karakters, of 
				de waarden "Niet van toepassing", of "Niet beschikbaar".
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="255" />
		</xs:restriction>
	</xs:simpleType>
		
	<xs:simpleType name="ISCEDNiveauNaamType">
		<xs:annotation>
			<xs:documentation>
				Naam van een ISCEDNiveau.				
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="500" />
		</xs:restriction>
	</xs:simpleType>
		
	
	<xs:simpleType name="VKSNiveauOnderwijskwalificatieCodeType">
		<xs:annotation>
			<xs:documentation>
				Code van een VKSNiveauOnderwijskwalificatie: max. 5 karakters, of 
				de waarden "Niet van toepassing", of "Niet beschikbaar".
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="255" />
		</xs:restriction>
	</xs:simpleType>
		
	<xs:simpleType name="VKSNiveauOnderwijskwalificatieNaamType">
		<xs:annotation>
			<xs:documentation>
				Naam van een VKS Niveau Onderwijskwalificatie.				
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="500" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="VKSNiveauBeroepskwalificatieCodeType">
		<xs:annotation>
			<xs:documentation>
				Code van een VKSNiveauBeroepskwalificatie: max. 5 karakters, of 
				de waarden "Niet van toepassing", of "Niet beschikbaar".
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="255" />
		</xs:restriction>
	</xs:simpleType>
		
	<xs:simpleType name="VKSNiveauBeroepskwalificatieNaamType">
		<xs:annotation>
			<xs:documentation>
				Naam van een VKS Niveau Beroepskwalificatie.				
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="500" />
		</xs:restriction>
	</xs:simpleType>		

	<xs:simpleType name="VervalPeriodeType">
		<xs:annotation>
			<xs:documentation>
				VervalPeriode van het Bewijs.
				Verwijzing naar de geldigheidsduur van het uitgereikt bewijs 
				(gerekend vanaf de dag van uitreiking). 						
				Vrij tekst. Bijvoorbeeld "6 maanden", "5 jaar", etc.				
        	</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="100" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="VolledigeNaamType">
		<xs:annotation>
			<xs:documentation>
				Volledige Naam van het Bewijs.
				Volledige naam/benaming zoals vermeld op het uitgereikt (papieren) bewijs. 
				Wordt bijgehouden tevens als hulp voor de burger die het bewijs kent onder 
				de vermelde benaming. 
				Dit is een vrij tekstveld (en kan dus de inhoud van een aantal andere dimensies bevatten). 
				Mogelijk kan dit ook in een andere taal zijn opgetekend.
        	</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="1000" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="StudierichtingNaamType">
		<xs:annotation>
			<xs:documentation>
				Studierichtingomschrijving(en). Vrije text veld dat
				één of meerdere Studierichtingomschrijvingen kan bevatten.				
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="2000" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="StudierichtingCodeType">
		<xs:annotation>
			<xs:documentation>
				Studierichting(en). Vrije text veld dat één of
				meerdere
				Studierichtingen kan bevatten.
        	</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="1000" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="SpecialisatieNaamType">
		<xs:annotation>
			<xs:documentation>
				Specialisatie omschrijving(en). Vrije text veld dat
				één of meerdere SpecialisatiesOmschrijvingen kan bevatten.				
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="2000" />
		</xs:restriction>
	</xs:simpleType>	

	<xs:simpleType name="SpecialisatieCodeType">
		<xs:annotation>
			<xs:documentation>
				"Specialisatie(s). Vrije text veld dat één of
				meerdere
				Specialisaties kan bevatten.				
        	</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="1000" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DetailOnderwerpNaamType">
		<xs:annotation>
			<xs:documentation>
				DetailOnderwerp detail omschrijving(en). Vrije text veld
				dat
				één of meerdere DetailOnderwerp omschrijvingen kan bevatten.				
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="2000" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="DetailOnderwerpCodeType">
		<xs:annotation>
			<xs:documentation>
				DetailOnderwerp(en). Vrije text veld dat één of
				meerdere details kan bevatten.				
        	</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="1000" />
		</xs:restriction>
	</xs:simpleType>
	
<!-- MAGDA 2.0 migratie: LED types gemigreerd vanuit het generieke LED schema.
-->
	
	<xs:simpleType name="DatumType"> <!-- Formaat type anders dan MAGDA -->
		<xs:annotation>
			<xs:documentation>Datum weergegeven als DD.MM.JJJJ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10" />
			<xs:pattern value="[0-3][0-9]\.[0-1][0-9]\.[0-9]{4}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="JaarType"> <!-- Formaat type anders dan MAGDA -->
		<xs:annotation>
			<xs:documentation>JaarType</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="4" />
			<xs:pattern value="(18|19|20|21)[0-9][0-9]" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaandType"> <!--Niet gekend in MAGDA -->
		<xs:annotation>
			<xs:documentation>MaandType</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2" />
			<xs:pattern value="(0[1-9])|(1[0-2])" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DagType"> <!--Niet gekend in MAGDA -->
		<xs:annotation>
			<xs:documentation>DagType</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2" />
			<xs:pattern value="(0[1-9])|(1[0-9])|(2[0-9])|(3[0-1])" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="InstellingsnaamType"> <!--Niet gekend in MAGDA -->
		<xs:annotation>
			<xs:documentation>De naam van de instelling</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="120" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InstellingsnummerType"> <!--Niet gekend in MAGDA -->
		<xs:annotation>
			<xs:documentation>Het instellingsnummer van de instelling
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]+" />
			<xs:minLength value="1" />
			<xs:maxLength value="6" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LeverancierNaamType"> <!--Niet gekend in MAGDA -->
		<xs:annotation>
			<xs:documentation>Naam van de Leverancier</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="100" />
		</xs:restriction>
	</xs:simpleType>

<!-- MAGDA 2.0 migratie: einde LED types gemigreerd vanuit het generieke LED schema.
-->

</xs:schema>
