magdamock/src/test/resources/simulator_xsd/Bronnen/KSZ/be/fgov/kszbcss/types/Handi/dgph/common/DGPHHandiCommonV1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2018 sp1 (x64) (http://www.altova.com) by  (Kruispuntbank van de Sociale Zekerheid) -->
<!-- ========================================================================
   * Owner :				KSZ / CBSS
   * Creation date :		2019-02-01
   * Description :
   * Revision History : [CR202300245]IRISCARE/CIN/AVIQ/DSL Handiservice -> limite de reconnaissances 4->10
-->
<xsd:schema xmlns:tns="http://kszbcss.fgov.be/types/Handi/dgph/common/v1"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:commonhandi="http://kszbcss.fgov.be/types/Handi/common/v1"
  targetNamespace="http://kszbcss.fgov.be/types/Handi/dgph/common/v1" elementFormDefault="unqualified"
  attributeFormDefault="unqualified" version="2023-07-18">
  <xsd:import namespace="http://kszbcss.fgov.be/types/Handi/common/v1"
    schemaLocation="../../common/HandiCommonV1.xsd" />
  <xsd:complexType name="FileType">
    <xsd:sequence>
      <xsd:element name="addressHandicappedPerson" type="tns:PersonDataType" minOccurs="0" />
      <xsd:element name="evolutionOfRequest" type="tns:EvolutionOfRequestType" minOccurs="0" />
      <xsd:element name="handicapRecognitions" type="tns:HandicapRecognitionsType" minOccurs="0" />
      <xsd:element name="rights" type="tns:RightsType" minOccurs="0" />
      <xsd:element name="socialCards" type="tns:SocialCardsType" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FileByPeriodType">
    <xsd:sequence>
      <xsd:element name="addressHandicappedPerson" type="tns:PersonDataType" minOccurs="0" />
      <xsd:element name="evolutionOfRequest" type="tns:EvolutionOfRequestType" minOccurs="0" />
      <xsd:element name="handicapRecognitions" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="handicapRecognition" type="tns:HandicapRecognitionType" maxOccurs="50" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="rights" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="right" type="tns:RightsType" maxOccurs="50" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="socialCards" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="socialCard" type="tns:SocialCardType" maxOccurs="10" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- Types for the address of the person -->
  <xsd:complexType name="PersonDataType">
    <xsd:sequence>
      <xsd:element name="lastName">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
            <xsd:maxLength value="48" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="firstName" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
            <xsd:maxLength value="24" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="address" type="tns:AddressType" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AddressType">
    <xsd:sequence>
      <xsd:element name="building" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
            <xsd:maxLength value="48" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="streetCode" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{10}" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="streetName" type="tns:DescriptionType" minOccurs="0" maxOccurs="3" />
      <xsd:element name="houseNumber" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
            <xsd:maxLength value="10" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="boxNumber" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
            <xsd:maxLength value="10" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="postalCode" type="tns:PostalCodeType" minOccurs="0" />
      <xsd:element name="cityCode" type="tns:CityCodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>For Belgian locations this is the "NISCode", for foreign locations the cityCode</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="cityName" type="tns:DescriptionType" minOccurs="0" maxOccurs="3" />
      <xsd:element name="countryCode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
            <xsd:maxLength value="3" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="countryName" type="tns:DescriptionType" minOccurs="0" maxOccurs="3" />
      <xsd:element name="date" type="xsd:date" minOccurs="0" />
    </xsd:sequence>
    <xsd:attribute name="class" use="required">
      <xsd:annotation>
        <xsd:documentation>Type of location: Belgian, Foreign or Diplomatic Post</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="belgianAddress" />
          <xsd:enumeration value="foreignAddress" />
          <xsd:enumeration value="diplomaticPost" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="DescriptionType">
    <xsd:annotation>
      <xsd:documentation>Type specifying how a value that can exist in several languages will be modelled</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="tns:BaseDescriptionType">
        <xsd:attribute name="language" type="tns:LanguageType" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="BaseDescriptionType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="100" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LanguageType">
    <xsd:annotation>
      <xsd:documentation>Type specifying the language of a given value</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="NL" />
      <xsd:enumeration value="FR" />
      <xsd:enumeration value="DE" />
      <xsd:enumeration value="EN" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CityCodeType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="5" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PostalCodeType">
    <xsd:annotation>
      <xsd:documentation>Type defining a postal code</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="15" />
    </xsd:restriction>
  </xsd:simpleType>
  <!-- Types for the evolution of the request -->
  <xsd:complexType name="EvolutionOfRequestType">
    <xsd:sequence>
      <xsd:element name="legislation" type="commonhandi:EORLegislationType" />
      <xsd:element name="requestDate" type="xsd:date" minOccurs="0" />
      <xsd:element name="administrativePendingRequest" type="xsd:boolean" />
      <xsd:element name="handicapRecognitionPending" type="xsd:boolean" />
      <xsd:element name="fileCompletionDate" type="xsd:date" minOccurs="0" />
      <xsd:element name="appeal" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <!-- Types for the handicap recognition -->
  <xsd:complexType name="HandicapRecognitionsType">
    <xsd:sequence>
      <xsd:element name="handicapRecognition" type="tns:HandicapRecognitionType" maxOccurs="10" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HandicapRecognitionType">
    <xsd:sequence>
      <xsd:element name="recognitionStatus" type="commonhandi:RecognitionStatusType" minOccurs="0" />
      <xsd:element name="legislation" type="tns:HandicapRecognitionLegislationType" minOccurs="0" />
      <xsd:element name="handicapRecognitionDetails" type="tns:HandicapRecognitionDetailsType" minOccurs="0" />
      <xsd:choice id="resultRecognitionChoice" minOccurs="0">
        <xsd:element name="resultRecognitionChild" type="tns:ResultRecognitionChildType" />
        <xsd:element name="resultRecognitionAdult" type="tns:ResultRecognitionAdultType" />
      </xsd:choice>
      <xsd:element name="decisionStatus" type="commonhandi:DecisionStatusType" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="HandicapRecognitionLegislationType">
    <xsd:restriction base="xsd:int">
      <xsd:minInclusive value="1" />
      <xsd:maxInclusive value="100" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="HandicapRecognitionDetailsType">
    <xsd:sequence>
      <xsd:element name="lowerLimbs50p" type="xsd:boolean" />
      <xsd:element name="fullBlindness" type="xsd:boolean" />
      <xsd:element name="upperLimbsAmputated" type="xsd:boolean" />
      <xsd:element name="upperLimbsParalyzed" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResultRecognitionChildType">
    <xsd:sequence>
      <xsd:element name="inabilityFollowCourse" type="xsd:boolean" minOccurs="0" />
      <xsd:element name="inabilityToWork" type="xsd:boolean" minOccurs="0" />
      <xsd:element name="disabilityCode" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="0" />
            <xsd:maxInclusive value="3" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="independencyScore" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="0" />
            <xsd:maxInclusive value="3" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="pillars" type="commonhandi:PillarsType" minOccurs="0" />
      <xsd:element name="childPathology" type="xsd:boolean" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResultRecognitionAdultType">
    <xsd:sequence>
      <xsd:element name="diminuationIndependence">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="mobility" type="tns:Int0_3Type" minOccurs="0" />
            <xsd:element name="nourishment" type="tns:Int0_3Type" minOccurs="0" />
            <xsd:element name="hygiene" type="tns:Int0_3Type" minOccurs="0" />
            <xsd:element name="household" type="tns:Int0_3Type" minOccurs="0" />
            <xsd:element name="supervision" type="tns:Int0_3Type" minOccurs="0" />
            <xsd:element name="socialSkills" type="tns:Int0_3Type" minOccurs="0" />
            <xsd:element name="totalPoints" minOccurs="0">
              <xsd:simpleType>
                <xsd:restriction base="xsd:int">
                  <xsd:minInclusive value="0" />
                  <xsd:maxInclusive value="18" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="diminuationEarnings" minOccurs="0">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="xsd:boolean" />
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="unsuitability" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="mentalUnsuitability" type="tns:Percentage" minOccurs="0" />
            <xsd:element name="physicalUnsuitability" type="tns:Percentage" minOccurs="0" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- Types for the rights -->
  <xsd:complexType name="RightsType">
    <xsd:sequence>
      <xsd:element name="period" type="commonhandi:OpenPeriodType" />
      <xsd:element name="legislation" type="commonhandi:RightsLegislationType" />
      <xsd:element name="totalMonthAmount" type="commonhandi:MoneyAmountType" />
      <xsd:element name="monthAmount" type="commonhandi:MoneyAmountType" />
      <xsd:element name="categoryIVT" type="tns:CategoryIVTType" />
      <xsd:element name="categoryIT">
        <xsd:simpleType>
          <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="0" />
            <xsd:maxInclusive value="5" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="partnerIncome" type="xsd:boolean" />
      <xsd:element name="decisionStatus" type="commonhandi:DecisionStatusType" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <!-- Type for the cards -->
  <xsd:complexType name="SocialCardsType">
    <xsd:sequence>
      <xsd:element name="socialCard" type="tns:SocialCardType" maxOccurs="2" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SocialCardType">
    <xsd:sequence>
      <xsd:element name="deliveryDate" type="xsd:date" />
      <xsd:element name="endDate" type="xsd:date" minOccurs="0" />
      <xsd:element name="cardNumber">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{10}" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="cardCategory" type="tns:CardCategoryType" />
    </xsd:sequence>
  </xsd:complexType>
  <!-- Type for the payments -->
  <xsd:complexType name="PaymentsType">
    <xsd:sequence>
      <xsd:element name="payment" type="commonhandi:PaymentType" maxOccurs="24" />
    </xsd:sequence>
  </xsd:complexType>
  <!-- Simple Types -->
  <xsd:simpleType name="CardCategoryType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="PARKINGCARD" />
      <xsd:enumeration value="REDUCTIONCARD" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CategoryIVTType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="A" />
      <xsd:enumeration value="B" />
      <xsd:enumeration value="C" />
      <xsd:enumeration value="-" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Int0_3Type">
    <xsd:restriction base="xsd:int">
      <xsd:minInclusive value="0" />
      <xsd:maxInclusive value="3" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Percentage">
    <xsd:annotation>
      <xsd:documentation>A percentage number (from 0 to 100)</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal">
      <xsd:minInclusive value="0" />
      <xsd:maxInclusive value="100" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
