magdamock/src/test/resources/simulator_xsd/Onderwijs.GeefHistoriekInschrijvingDienst-02.01/WebService/GeefHistoriekInschrijvingResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://webservice.geefhistoriekinschrijvingdienst-02_01.onderwijs.vlaanderen.be"
		   xmlns:xs="http://www.w3.org/2001/XMLSchema" 
		   xmlns:generiek="http://generiek-02_00.vip.vlaanderen.be" 
		   xmlns:inschrijving="http://inschrijving-02_01.onderwijs.vlaanderen.be" 
		   targetNamespace="http://webservice.geefhistoriekinschrijvingdienst-02_01.onderwijs.vlaanderen.be"
		   elementFormDefault="unqualified" 
		   attributeFormDefault="unqualified" 
		   version="2.01">
	<xs:import namespace="http://generiek-02_00.vip.vlaanderen.be" schemaLocation="../../Generiek-02.00/Generiek.xsd"/>
	<xs:import namespace="http://inschrijving-02_01.onderwijs.vlaanderen.be" schemaLocation="../../Inschrijving-02.01/Inschrijving.xsd"/>
	<xs:element name="GeefHistoriekInschrijvingResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Repliek" type="RepliekType" minOccurs="1"/>
				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="GeefDossierHandicapReponseRepliekType">
		<xs:sequence>
			<xs:element name="Context" type="generiek:ContextType"/>
			<xs:element name="Antwoorden" type="AntwoordenType" minOccurs="0"/>
			<xs:element name="Uitzonderingen" type="generiek:UitzonderingenType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Fouten die voorkomen na de verwerking van de Context maar voor de verwerking van
                        Vraag of Antwoord bv: xs Validatie fouten
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AntwoordenType">
		<xs:sequence>
			<xs:element name="Antwoord" type="AntwoordType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AntwoordType">
		<xs:sequence>
			<xs:element name="Referte" type="generiek:ReferteType"/>
			<xs:element name="Inhoud" type="AntwoordInhoudType" minOccurs="0"/>
			<xs:element name="Uitzonderingen" type="generiek:UitzonderingenType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Fouten die voorkomen na de verwerking van Vraag of Antwoord bv: warnings rond
                        ontbrekende data en fouten gelinked aan 1 antwoord
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AntwoordInhoudType">
		<xs:annotation>
			<xs:documentation>
				Indien de operatie lukte dan zal er een Inhoud met een AntwoordInhoud zijn en
				geen Uitzonderingen element.
				Indien de operatie mislukte dan zal er GEEN Inhoud met een AntwoordInhoud zijn, en
				enkel een Uitzonderingen element.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Inschrijvingen" type="inschrijving:InschrijvingenType"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
