magdamock/src/test/resources/simulator_xsd/KBI-01.00/KBISimple.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://inburgering.be/types/V01" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://inburgering.be/types/V01" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="01.00">
	<!-- ALGEMEEN -->
	<xs:simpleType name="BaseCodeType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CijferType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EmailType">
		<xs:annotation>
			<xs:documentation>EmailType</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="120"/>
			<xs:pattern value=".+@.+\..+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NaamLangType">
		<xs:annotation>
			<xs:documentation>NaamLangType</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="48"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GeslachtCodeType">
		<xs:annotation>
			<xs:documentation>GeslachtCodeType</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InszType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9][0-9](([0][0-9])|([1][0-2]))(([0-2][0-9])|([3][0-1]))(([0-9]{2}[1-9])|([0-9][1-9][0-9])|([1-9][0-9]{2}))(([0-8][0-9])|([9][0-7]))">
				<xs:annotation>
					<xs:documentation xml:lang="NL">Rijksregister of Geradieerd</xs:documentation>
				</xs:annotation>
			</xs:pattern>
			<xs:pattern value="[0-9][0-9](([2][0-9])|([3][0-2])|([4][0-9])|([5][0-2]))(([0-2][0-9])|([3][0-1]))[0-9]{3}(([0-8][0-9])|([9][0-7]))">
				<xs:annotation>
					<xs:documentation xml:lang="NL">Bis register : Bisnummer</xs:documentation>
				</xs:annotation>
			</xs:pattern>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="KboNummerType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9][0-9]{9}">
				<xs:annotation>
					<xs:documentation xml:lang="NL">KBO Nummer van een onderneming</xs:documentation>
				</xs:annotation>
			</xs:pattern>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="KbiNummerType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TekstType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TekstKortType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="120"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TekstLangType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TelFaxType">
		<xs:annotation>
			<xs:documentation>TelFaxType</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OmschrijvingKortType">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="0"/>
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodeNaamKortType">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="0"/>
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodeNaamType">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="0"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OmschrijvingOorsprongType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-zA-Z_]{1,10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OmschrijvingTaalCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0a-z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OmschrijvingType">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="0"/>
			<xs:maxLength value="3800"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OnvolledigeDatumType">
		<xs:annotation>
			<xs:documentation>Een mogelijks onvolledige datum. Formaat yyyy-mm-dd, yyyy-mm-00 or yyyy-00-00
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="[0-2][0-9]{3}\-[0-1][0-9]\-[0-3][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UUIDType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[aA-fF0-9]{8}-[aA-fF0-9]{4}-[aA-fF0-9]{4}-[aA-fF0-9]{4}-[aA-fF0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OndernemingsnummerType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ADRES -->
	<xs:simpleType name="BuitenlandsAdresBusnummerType">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="0"/>
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BuitenlandsAdresGemeenteNaamType">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="0"/>
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BuitenlandsAdresPostcodeType">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="0"/>
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BuitenlandsAdresStraatnaamType">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="0"/>
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BuitenlandsAdresHuisnummerType">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="0"/>
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodeISOLandType">
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodeNISLandType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodeNISGemeenteType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodePostType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodeRRStraatType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NummerHuisType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NummerBusType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- DERDE STROOM -->
	<xs:simpleType name="IndicatorType">
		<xs:annotation>
			<xs:documentation>Indicator die aangeeft of iets waar (J=Ja), of niet waar (N=Nee) is.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:pattern value="J|N"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OpsommingsTypeCodeType">
		<xs:annotation>
			<xs:documentation>De gecodeerde waarde van een bepaald soort Opsomming.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OpsommingsTypeOmschrijvingType">
		<xs:annotation>
			<xs:documentation>De beschrijving van de waarde van een bepaald soort Opsomming.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InstellingsNummerType">
		<xs:annotation>
			<xs:documentation>Het instellingsnummer van een Centrum.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternePartijTypeType">
		<xs:annotation>
			<xs:documentation>Type dat het type Externe Partij aangeeft: een Centrum, een Huis van Het Nederlands, ...
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ExternePartijCodeType">
		<xs:annotation>
			<xs:documentation>Een numerieke code die uniek een bepaalde Externe Partij (Centrum, Huis van Het
Nederlands, ...) identificeert.
De mogelijke waarden worden centraal beheerd door KBI. 
Indien Centrum dan zal dit een instellingsnummer van zes lang zijn.
Indien HvN dan zal dit een KBO nummer zijn van 10 lang.
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,20}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DAVINCIObjectIDType">
		<xs:annotation>
			<xs:documentation>Unieke sleutel die door het DAVINCI systeem wordt toegekend na succesvolle registratie en
                die de externe partij in haar verdere communicatie (wijzen, annuleren, raadplegen) moet gebruiken.
                Samengesteld uit een UUID gevolgd door een ":" gevolgd door een timestamp in hex formaat.
                Bijvoorbeeld: 12e1b4ea-eee5-4f16-bd34-ff989d9e6401:134173edf3a
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="ObjectIDType"/>
	</xs:simpleType>
	<xs:simpleType name="KBIObjectIDType">
		<xs:annotation>
			<xs:documentation>Unieke sleutel die door het KBI systeem wordt toegekend na succesvolle registratie en
                die de externe partij in haar verdere communicatie (wijzen, annuleren, raadplegen) moet gebruiken.
                Samengesteld uit een UUID gevolgd door een ":" gevolgd door een timestamp in hex formaat.
                Bijvoorbeeld: 12e1b4ea-eee5-4f16-bd34-ff989d9e6401:134173edf3a
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="ObjectIDType"/>
	</xs:simpleType>
	<xs:simpleType name="ExternObjectIDType">
		<xs:annotation>
			<xs:documentation>Unieke sleutel (aangewezen is een UUID) die door de
                Externe Partij toegekend wordt aan een object dat ze wensen te registreren in DAVINCI.
                Wordt tijdens registratie door DAVINCI gebruikt om dubbele registraties te vermijden.
                De combinatie ExternePartijType, ExternePartijCode en ExternObjectID moet uniek zijn.
                Na succesvolle registratie van het object dient de Externe Partij de DAVINCI Identificatie
                (DAVINCIObjectID) te gebruiken en niet langer haar eigen ExternObjectID.
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="ObjectIDType"/>
	</xs:simpleType>
	<xs:simpleType name="ObjectIDType">
		<xs:annotation>
			<xs:documentation>Unieke sleutel, liefst een UUID (Universally Unique Id).
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LesLocatieType">
		<xs:annotation>
			<xs:documentation>Lokatie (binnen de lesplaats) waar de les doorgaat (bv. lokaalnummer)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LesPlaatsCodeType">
		<xs:annotation>
			<xs:documentation>De code van een Lesplaats voor een bepaald Centrum. De code is dus niet uniek over de
                Centra heen, maar enkel uniek per Centrum !
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="NatuurlijkGetalType"/>
	</xs:simpleType>
	<xs:simpleType name="VestigingsPlaatsCodeType">
		<xs:annotation>
			<xs:documentation>Code van een VestigingsPlaats.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="NatuurlijkGetalType"/>
	</xs:simpleType>
	<xs:simpleType name="NatuurlijkGetalType">
		<xs:annotation>
			<xs:documentation>Een getal zonder cijfers na de komma, en groter dan of gelijk aan nul.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,20}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TijdType">
		<xs:annotation>
			<xs:documentation>TijdType</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="5"/>
			<xs:maxLength value="12"/>
			<xs:pattern value="[0-2][0-9]:[0-5][0-9](:[0-5][0-9](\.[0-9]{3})?)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DatumType">
		<xs:annotation>
			<xs:documentation>Datum in het formaat JJJJ-MM-DD</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="((((19|20)(([02468][048])|([13579][26]))-02-29))|((20[0-9][0-9])|(19[0-9][0-9]))-((((0[1-9])|(1[0-2]))-((0[1-9])|(1\d)|(2[0-8])))|((((0[13578])|(1[02]))-31)|(((0[1,3-9])|(1[0-2]))-(29|30)))))"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UitzonderingIdentificatieType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
			<xs:pattern value="[\p{N}]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UitzonderingSoortType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FOUT"/>
			<xs:enumeration value="WAARSCHUWING"/>
			<xs:enumeration value="INFORMATIE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UitzonderingDiagnoseType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
</xs:schema>