magdamock/src/test/resources/simulator_xsd/SocZek.GeefDossierHandicapDienst-03.00/WebService/GeefDossierHandicapResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://magda.vlaanderen.be/soczek/soap/geefdossierhandicap/v03_00" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:generiek="http://magda.vlaanderen.be/generiek-v3" xmlns:bron="http://kszbcss.fgov.be/types" targetNamespace="http://magda.vlaanderen.be/soczek/soap/geefdossierhandicap/v03_00" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://magda.vlaanderen.be/generiek-v3" schemaLocation="../../Generiek/Generiek-v3.xsd"/>
	<xsd:import namespace="http://kszbcss.fgov.be/types" schemaLocation="../../Bronnen/KSZ/KSZAddon.xsd"/>
	<!--Response bericht-->
    <xsd:element name="GeefDossierHandicapResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Repliek" type="RepliekType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
	<!--Response types-->
	<xsd:complexType name="GeefDossierHandicapReponseRepliekType">
		<xsd:sequence>
			<xsd:element name="Context" type="generiek:ContextType"/>
			<xsd:element name="Antwoorden" type="AntwoordLijstType" minOccurs="0"/>
			<xsd:element name="Uitzonderingen" type="generiek:UitzonderingLijstType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AntwoordLijstType">
		<xsd:sequence>
			<xsd:element name="Antwoord" type="AntwoordType" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AntwoordType">
		<xsd:sequence>
			<xsd:element name="Referte" type="generiek:ReferteType"/>
			<xsd:element name="Inhoud" type="AntwoordInhoudType" minOccurs="0"/>
			<xsd:element name="Uitzonderingen" type="generiek:UitzonderingLijstType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AntwoordInhoudType">
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="ConsultFilesByDateResponse" type="bron:ConsultFilesByDateMagdaAntwoordInhoudType"/>
				<xsd:element name="ConsultFilesByPeriodResponse" type="bron:ConsultFilesByPeriodMagdaAntwoordInhoudType"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
