interfaces/src/test/resources/template_xsd/Bewijs/BewijsExtensie.xsd

<xs:schema targetNamespace="http://bewijs.led.vlaanderen.be" attributeFormDefault="unqualified" elementFormDefault="unqualified" version="2.00.201605250938" xmlns="http://bewijs.led.vlaanderen.be" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:generiek="http://generiek-02_00.vip.vlaanderen.be">
	
	<xs:include schemaLocation="Bewijs.xsd"/>
	<xs:import namespace="http://generiek-02_00.vip.vlaanderen.be" schemaLocation="../Generiek-02.00/Generiek.xsd"/>
	
	<xs:complexType name="PublicatieType">
		<xs:sequence>
			<xs:element name="Metadata" type="generiek:MetadataType"/>
			<xs:element name="Bewijs" type="BewijsType"/>
		</xs:sequence>
	</xs:complexType>	
</xs:schema>